* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.logo-hd {
    background-image: url(img/lam-logos_white.png);
    background-size: cover;
    max-width: 100%;
    height: 100px;
    width: 100px;

}

.main-prd {
    background-image: url(img/background-full.png);
    background-size: cover;
    max-width: 100%;
}

.prd-page {
    display: grid;
    grid-template: auto /repeat(4, 1fr);
    gap: 22px;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid white;
}

.prd {
    display: block;
    border: 1px solid white;
    border-radius: 20px;

}

.prd:hover {
    background-color: rgb(8, 8, 8, 0.5);
}

.img-prd {
    max-width: 100%;
    height: 200px;
    width: 240px;
    border-radius: 16px;
    padding: 20px;
    overflow: hidden;


}

.container {
    display: block;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 7px;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-image: url(img/HDer.png);
    background-size: cover;
}

.btn-hd {
    background: rgb(247, 246, 246, 0.1);
    padding: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.text-nav {
    color: white;
    text-decoration: none;
    font-size: 17.5px;
}

.product-cart-thumbnail {
    align-items: center;
    margin: 0 auto;
}

.product-cart {
    margin: 10px;
}

.product-card-title {
    text-align: center;
    color: black;
    font-size: 15px;
    color: white;
}

.product-card-price {
    text-align: center;
    color: black;
    color: white;
}


/*product- detail chi tiết sản phẩm */
.main-detail {
    background-image: url(img/BG-prd-detail.png);
    background-size: cover;
    max-width: 100%;
    padding: 150px;
}

.prd-detail {
    display: grid;
    grid-template: auto /repeat(2, 1fr);
    gap: 100px;
    border: 5px solid rgb(12, 12, 12);
    border-radius: 20px;
}

.prd-d-img {
    padding: 20px;
    max-width: 100%;
}

.prd-text {
    padding-top: 25px;
}

.btn-add {
    text-decoration: none;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
    color: white;
    margin-bottom: 20px;

}

/*giỏ hànggggggggggggggggg*/

.flex {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cart-prd {
    display: grid;
    grid-template: auto/ repeat(2, 1fr);
    gap: 30px;
    max-width: 250px;
}



.cart-img-prd {
    max-width: 100%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 16px;
   border: 1px solid black;
}

.table-cart {
    border: 1px solid black;
}

.cart-name {
    font-size: 25px;
    font-weight: 400;

}